<h2 class="d-flex justify-content-center">formulario para cargar productos</h2>
<form class="m-3 w-50" action="/api/products" method="post">
  <div class="form-group" >
    <label for="title">Product Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
  </div>
  <div class="form-group">
    <label for="price">Price of Product</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>
  </div>
  <button type="submit" >Cargar</button>
</form>