<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>ID</th>
  </tr>
  <tr>
    <td>a</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
